.App {
  background-color: #1e2f2f;
}

.movies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-card {
  display: flex;
  align-items: center;
  width: 550px;
  margin: 10px;
  background-color: rgba(0, 0, 2, 0.7);
  color: white;
  box-shadow: 6px 6px 36px -5px rgba(0,41,34,0.97);
}
.movie-poster {
  width: 185px;
  height: 278px;
  display: block;
}
.movie-card-info {
  width: 500px;
  height: 278px;
  position: relative;
  box-sizing: border-box;
  padding: 10px 16px 16px 16px;
  overflow: hidden;
}
.movie-card-title-wrapper {
  display: flex;
  flex-direction: row;
}
.movie-card-rating {
  width: 32px;
  max-width: 32px;
  height: 100px;
  text-align: center;
  margin-top: 5px;
  margin-right: 5px;
}
.movie-card-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.movie-link {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.1em;
  margin-bottom: 3px;
  color: white;
}

.movie-link:hover {
  color: #00b226;
  text-decoration: none;
}

span {
  color: white;
  line-height: 1em;
  font-size: 15px;
  margin-bottom: 3px;
}

.movie-rating {
  display: flex;
  height: 20px;
}

.movie-user-score {
  margin-top: 8px;
}

.movie-card-overview {
  word-wrap: break-word;
  white-space: normal;
  color: #4d4d4d;
  line-height: 1.2em;
  margin-top: 30px;
}

.movie-overview-text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  width: 100%;
  margin: 0;
  font-size: 13px;
}

.view-more {
  border-top: 1px solid #e3e3e3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 1.2em;
  padding-top: 10px;
  padding-left: 15px;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.movie-basic-info {
  display: flex;
  width: 75%;
  margin: 10px;
  background-color: rgba(0, 0, 2, 0.7);
  color: white;
  box-shadow: 6px 6px 36px -5px rgba(0,41,34,0.97);
}

.movie-poster-big {
  margin-top: 10;
  max-width: auto;
  height: 100%;
}

.poster-media {
  display: block;
}

.movie-title {
  text-transform: uppercase;
  font-size: 2em;
}

.movie-basic-info-text {
  margin-left: 10px;
  margin-right: 10px;
}

.movie-info-rating {
  display: flex;
  height: 20px;
  margin-bottom: 30px;
}

.movie-info-overview {
  margin-top: 20px;
}

.movie-cast-trailers {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 10px;
  background-color: rgba(0, 0, 2, 0.7);
  color: white;
  box-shadow: 6px 6px 36px -5px rgba(0,41,34,0.97);
}

.cast {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.movie-cast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-trailers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cast-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 128px;
  margin: 15px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.actor-character {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.actor-name {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  background-color: white;
}


.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-title {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 2, 0.7);
  width: 83%;
}

.backbutton {
  position: fixed;
  background-color: rgba(0, 0, 2, 0.7);
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  right: 25px;
  bottom: 25px;
  color: white;
}

.backbutton:hover {
  color: #00b226;
}

@media (max-width: 1096px) {
  .movie-basic-info {
    display: flex;
    flex-direction: column-reverse;
  }
  .movie-poster-big {
    max-width: 100%;
    height: auto;
    align-self: center;
  }
  .poster-media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 696px) {
  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background-color: rgba(0, 0, 2, 0.7);
    color: white;
    box-shadow: 6px 6px 36px -5px rgba(0,41,34,0.97);
  }
  .movie-card-info {
    width: 250px;
    height: 450px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 16px 16px 16px;
    overflow: hidden;
  }
  .view-more {
    border-top: 1px solid #e3e3e3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 1.2em;
    padding-top: 10px;
    padding-left: 15px;
  }
  .movie-poster {
    margin: 10px;
    width: 185px;
    height: 278px;
    display: block;
  }
  .movie-title {
    font-size: 1.6em;
  }
}
